header{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

main{
    margin-left: auto;
    margin-right: auto;
}

.main-table{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    border-collapse: collapse;
}

.main-table tr:nth-child(even){
    background-color: #f2f2f2;
}

.main-table th,.main-table td{
    border: 1px solid #ddd;
    text-align: left;
}
.main-table tr:hover {
    background-color: #ddd;
    cursor: pointer;
}
.bold{
    font-weight: bolder;
}

.rotate:active {
    transition: all 1s ease-in-out;
    transform: rotate(360deg);
    border-radius: 50%;
}



